*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    background:url("background.jpg");
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
  
    
}
.midscreen{
    background-color: black;
    opacity:.8;
}
.screen{
//    padding:5px;
    display:flex;
    width:100%;
    height:100vh;
    justify-content: center;
    background:transparent;   
   
}
.styling{
    margin-top:160px;
    width:35px;
    height:35px;
    border:1px solid white;
    color:white;
    font-size: 10px;
    text-align: center;
    transform:scale();
    transition:transform 0.5s 0.5s ease;
}
div[data-key = '65']{
    margin-right:5px;
}
.style2{
     margin-right:5px;
}
@media(min-width:700px){
    .styling{
        font-size: 20px;
        width:100px;
        height:100px;
    }
}