*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.masterflex{

    display:flex;
    flex-direction:column;
}
.flexbox{
    padding:0px 5px;
    padding-top:10px;
    display:flex;
    
}
.signitem{
    background-color:#4285f4;
    padding:2px 8px;
   
}
.signitem a{
    color:white;
}
.flexbox-list{
    display:flex;
   
}
ul li{
    list-style: none;
    margin-right:10px;
}
.flexbox a{
    text-decoration: none;
}
.fromtop{
    padding-top:2px;
}
.listone{
   flex-grow: 1;
}
.googleinfo{
    padding-top:120px;
    display:flex;
    justify-content: center;
}
.googlesearchpos{
    display:flex;
    justify-content: center;
}
.googlesearch{
    width:480px;;
    margin-top:50px;
    padding:5px;
    display:flex;
    justify-content: center;
    border: 1px solid #DFE1E5;
    border-radius: 50px;
}
.inputbox{
    width:100%;
} 
.inputbox input{
    padding-top:0px;
    width:100%;
    height:30px;
    border-style:none;
    outline:none;
}
.googlesearch:hover{
    box-shadow:0px 0px 5px 2px  #DFE1E5;
}
.searchbuttons{
    display:flex;
    justify-content: center;
    column-gap: 30px;
}
.searchbtn, .feelinglucky{
    margin-top:20px;
    padding:10px 5px;
    background-color: #f4f4f4;
}
.footer{
    padding:10px;
    transform: translateY(190px);
    width:100%;
    display:flex;
    background-color:  #DFE1E5;
}
.footer-items{
  display:flex;
    
}
.footer-flex1{
    flex-grow:1;
}
@media (max-width: 1000px){
    .footer{
     width:100%;
     flex-direction: column;
     
     
    }
    .footer-flex1{
        margin:0 auto;
        text-align: center;
    }
    .footer-flex2{
         margin:0 auto;
         text-align: center;

    }
    .footer-flex1{
        flex-grow:1;
    }
    .footer-items {
        flex-direction: column;
       
    }

    
}
@media(max-width: 480px){
    .flexbox-list{

    }
    .flexbox-list li:nth-child(1){
        display:none
    }
    .googleinfo img{
        width:80px;
    }
    
}

