* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#inplacer{
    width:50%;
    margin:0 auto;
}
.headform{
     border: 1px solid black;
}
.motherform {
  width: 100%;
  display:flex;
  justify-content:center;
}
.formcontrol {
  width: 100%;
  text-align: center; 
}
.button{
    background-color: #47484B;
}
button {
  padding: 5px;
  background-color: limegreen;
  color: white;
  cursor: pointer;
}
#form {
    display: none;
}
.flexer {
  display: flex;
  justify-content: center;
  display: none;
}